#product-search {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  #product-search::placeholder {
    color: #999;
  }
  
  #product-search:focus {
    outline: none;
    border: 2px solid #727e8a; 
  }